//Variable <%= person.name %> //if statement <% if(person){ %>
<h1>><%=person.name %></h1>
<% }%> //for each
<ul>
  <% post.forEach(function(post){ %>
  <li><% post.title %></li>

  <% }); %>
</ul>

//partial <%- include('partial/navbar')%>
